body {
  position: fixed;
  background-color: black;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.noUi-target {
  margin: 20px;
}
.noUi-marker {
  background: #D3D3D3;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: 0;
  width: 1px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 12px;
}        
.noUi-marker-horizontal.noUi-marker-sub {
  height: 9px;
}        
.noUi-marker-normal {
  /* These are the smallest pips which we can't get rid of; just hide them */
  display: none;
}
.noUi-pips-horizontal {
  padding: 0 0;
}

.hue-slider {
  /* Static run of the hue spectrum */
  background: linear-gradient(90deg, rgb(255,0,0), rgb(255,255,0),
    rgb(0,255,0), rgb(0,255,255), rgb(0,0,255), rgb(255,0,255), rgb(255,0,0));
}
.noUi-handle {
  /* Transparent so we can see the color we're selecting */
  background: rgba(255, 255, 255, 0);
  /* Remove drop shadow and make insets symmetrical */
  box-shadow: inset 0 0 1px #FFF, inset 0 0 9px #EBEBEB;
}
.noUi-handle:before, .noUi-handle:after {
  background: #7F7F7F;
}

/* These put overlay canvas on top of main canvas */
#canvasDiv {
  position: relative;
}
canvas {
  position: absolute;
}

#bottomDiv {
position:fixed;
bottom: 10px;
left: 10px;
}
